<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>开始分类</title>
</head>
<body>
请输入内容！ <br><br />

<form action="http://www.baidu.com/baidu" target="_blank">
              <table style="width:50%">
                <tbody>
                <tr style="border:5px">
                    <td>
                  <input class="form-control" type="text" style="width:1000px;font-size:23px" name="word" size="23" >
                  </td>
                  <td>
                    <input class="form-control btn btn-primary" type="submit" style="background-color:#025aa5;color:#f7f6ff" value="确定">
                  </td>
              </tr>
                </tbody>
              </table>
            </form>
</body>
</html>